@import url(default.css);

.privacy-container{
    width: 90%;
    height: 1670px;
    background-color: var(--terms-container-bg);
    color: var(--btn-color);
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 0 0 15px #333;
}

.privacy-container p{
    font-size: 16px;
}

.privacy-header{
    padding-top: 25px;
    font-size: 16px;
    text-align: center;
}

.privacy-content{
    font-size: 14.8px;
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .privacy-container{
        height: 300vh;
    }
    .privacy-content{
        font-size: 14px;
    }
}